<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @task.user.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @task.content %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @task.deadline.strftime("%Y年%m月%d日 %H時%M分") %>
</p>

<p>
  <strong>ChargeId:</strong>
  <%= @task.charge_id %>
</p>

<p>
  <strong>ChargeName:</strong>
  <%= @task.charge.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.status %>
</p>

<%= link_to 'Edit', edit_task_path(@task), class: 'btn btn-default btn-sm btn-success' %> |
<%= link_to 'Back', tasks_path, class: 'btn btn-default' %>
</div>
</div>
